.center {
    text-align: center;
}


.notice, .alert {
    text-color: #A32900;
}

.container {
    background-color: #E6E6E6;
    width: 50%;
    border-radius: 5px;
}

.button-container {
    width: 50%;
    margin: 0 auto;
}

li a{
    height: 90px;
    text-align: center;
    font-size: 3em;
    line-height: 55px;
    margin: 20px;
}

header {
    margin-bottom: 50px;
}

ul a:hover, header a:hover{
    text-decoration: none;
    background-color: #fff;
}

