// Place all the styles related to the Permits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.permit-head {
    margin-bottom: 50px;

}

.section {
    width: 80%;
    margin: 20px auto;
    background-color: #CCCCCC;
    border-radius: 5px;
    padding: 10px;
}

