<div class="center button-container">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><%= link_to  'ONGOING',  ongoing_path %></li>
            
         <li role="presentation" class="active"><%= link_to 'FOR REVIEW', for_review_path %></li>  
         <li role="presentation" class="active"><%= link_to 'CLOSED', admin_closed_path %></li> 
    </ul>
</div>