<div class="button-container">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><%= link_to  'Sub Contractors',  suboptions_path %></li>
        
        <% if current_admin %>
            <li role="presentation" class="active"><%= link_to 'Admin', adminoptions_path %></li>
        <% else %>
            <li role="presentation" class="active"><%= link_to 'Admin', admin_session_path %></li>
        <% end %> 
    </ul>
</div>

  
