<div class="center button-container">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><%=link_to 'New', new_permit_path %></li>
        
         <li role="presentation" class="active"><%= link_to 'Open', permits_path %></li>  
    </ul>
</div>
